html * {
  border: 1px dashed #cccccc;
  margin: 10px;
  padding: 0px;
  font-family: Roboto;
}
p,
label,
input,
select,
button {
  font-size: 0.9vw;
}

.container {
  border: 2px solid #ff0000;
  margin: 0px;
}
